allure-pytest==2.15.0
email-validator==2.3.0
Faker==37.8.0
httpcore==1.0.9
httpx==0.28.1
jsonschema==4.25.1
pydantic==2.8.2
pydantic-settings==2.11.0
pytest==8.4.2
pytest-xdist==3.8.0
swagger-coverage-tool